Node-Red Nodes
[
    {
        "id": "c79dfe0d63a05f1f",
        "type": "group",
        "z": "88790199e22dcb8f",
        "name": "Github",
        "style": {
            "label": true
        },
        "nodes": [
            "903baa515f965384",
            "bf10873b265e3d58",
            "973f80934443cc8b",
            "4fe202683cc71982",
            "0f9d64a7c39c3b76",
            "66f7c7cf8615f0ef",
            "92e411757ee2147a",
            "798e843060e75cf0",
            "49b7df48ad7b5758",
            "87f0e9660a1e873e",
            "d6af7d02d4bdf2ef",
            "36f3892d4063f51f",
            "5b0caef6448e5a31",
            "921bb53440c304aa",
            "11a1e9feec7a4ad7",
            "51c9fe36c81fbd4e",
            "825fbf17961e5b3a",
            "bf9285f3b0f7df13",
            "c27b4aee6ad18197",
            "e6b9a917ae9da384",
            "3c33528f9c08f306",
            "5bb37a2a42f2402d",
            "920bbba7247cbcae",
            "504ed6f3a645e48e",
            "c14cc559066e65fc",
            "fda9f6530d60e448",
            "b2d2c8a1a752c6da",
            "d30a260670a22f38",
            "192252ff2ebce899",
            "80a3d56b81d4b941",
            "91d7bc7297524bcb",
            "e32f3fd3d156b88e",
            "a4cb2aeeaf894eae",
            "255ebbb4b9050b29",
            "694aeb448943f510",
            "4aaa9c7bc7ded219",
            "df36f3adb057a75b",
            "1923097a1d4236fa",
            "d73ed9168b734d28"
        ],
        "x": 164,
        "y": 709,
        "w": 932,
        "h": 1007
    },
    {
        "id": "903baa515f965384",
        "type": "inject",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Hvert 5 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "310",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1025,
        "wires": [
            [
                "66f7c7cf8615f0ef"
            ]
        ]
    },
    {
        "id": "bf10873b265e3d58",
        "type": "change",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Gem Danfoss data",
        "rules": [
            {
                "t": "set",
                "p": "danfoss_data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 835,
        "y": 1025,
        "wires": [
            [
                "973f80934443cc8b"
            ]
        ]
    },
    {
        "id": "973f80934443cc8b",
        "type": "function",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Index data",
        "func": "let danfoss_data = flow.get(\"danfoss_data\");\nlet data= {};\n\n\ndanfoss_data.forEach(function(item, index) {\n  data[item.topic] = item.payload.temperature.value\n    \n});\n\ndanfoss_data.forEach(function (item, index) {\n  data[\"Setpoint \"+item.topic] = item.payload.targetSetpoint.value\n\n});\n\n\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 545,
        "y": 1125,
        "wires": [
            [
                "49b7df48ad7b5758",
                "0f9d64a7c39c3b76"
            ]
        ]
    },
    {
        "id": "4fe202683cc71982",
        "type": "inject",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Skub Data til HA fra flow.",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "12",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 1125,
        "wires": [
            [
                "973f80934443cc8b"
            ]
        ]
    },
    {
        "id": "0f9d64a7c39c3b76",
        "type": "debug",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "find rum her",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1100,
        "wires": [],
        "info": "Brug Debug messages til at se hele besked fra noden!"
    },
    {
        "id": "66f7c7cf8615f0ef",
        "type": "alexa-remote-smarthome",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Hent Danfoss Link Info fra Alexa",
        "account": "",
        "config": {
            "option": "query",
            "value": []
        },
        "outputs": 1,
        "x": 515,
        "y": 1025,
        "wires": [
            [
                "bf10873b265e3d58",
                "92e411757ee2147a"
            ]
        ]
    },
    {
        "id": "92e411757ee2147a",
        "type": "debug",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "debug 112",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 975,
        "wires": []
    },
    {
        "id": "798e843060e75cf0",
        "type": "change",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint til flow.rumX",
        "rules": [
            {
                "t": "set",
                "p": "rum1",
                "pt": "flow",
                "to": "payload[\"Setpoint rum1\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum2",
                "pt": "flow",
                "to": "payload[\"Setpoint rum2\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum3",
                "pt": "flow",
                "to": "payload[\"Setpoint rum3\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum4",
                "pt": "flow",
                "to": "payload[\"Setpoint rum4\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum5",
                "pt": "flow",
                "to": "payload[\"Setpoint rum5\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum6",
                "pt": "flow",
                "to": "payload[\"Setpoint rum6\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum7",
                "pt": "flow",
                "to": "payload[\"Setpoint rum7\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rum8",
                "pt": "flow",
                "to": "payload[\"Setpoint rum8\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1275,
        "wires": [
            []
        ]
    },
    {
        "id": "49b7df48ad7b5758",
        "type": "link out",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Send til export",
        "mode": "link",
        "links": [
            "5b0caef6448e5a31",
            "921bb53440c304aa"
        ],
        "x": 685,
        "y": 1175,
        "wires": []
    },
    {
        "id": "87f0e9660a1e873e",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum1",
        "entityConfig": "dfae87378ec14a30",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1325,
        "wires": [
            []
        ]
    },
    {
        "id": "d6af7d02d4bdf2ef",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum1",
        "entityConfig": "565010e4dfd19e2a",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1325,
        "wires": [
            []
        ]
    },
    {
        "id": "36f3892d4063f51f",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum1",
        "info": "bliver brugt til at sætte temp og kalde temp!",
        "x": 860,
        "y": 1325,
        "wires": []
    },
    {
        "id": "5b0caef6448e5a31",
        "type": "link in",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Modtag til Temperatur",
        "links": [
            "49b7df48ad7b5758"
        ],
        "x": 225,
        "y": 1325,
        "wires": [
            [
                "87f0e9660a1e873e",
                "825fbf17961e5b3a",
                "e6b9a917ae9da384",
                "3c33528f9c08f306",
                "5bb37a2a42f2402d",
                "920bbba7247cbcae",
                "504ed6f3a645e48e",
                "c14cc559066e65fc",
                "798e843060e75cf0"
            ]
        ]
    },
    {
        "id": "921bb53440c304aa",
        "type": "link in",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Modtag til Setpunkt",
        "links": [
            "49b7df48ad7b5758"
        ],
        "x": 495,
        "y": 1325,
        "wires": [
            [
                "d6af7d02d4bdf2ef",
                "bf9285f3b0f7df13",
                "fda9f6530d60e448",
                "b2d2c8a1a752c6da",
                "d30a260670a22f38",
                "192252ff2ebce899",
                "80a3d56b81d4b941",
                "91d7bc7297524bcb"
            ]
        ]
    },
    {
        "id": "11a1e9feec7a4ad7",
        "type": "group",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Forbind til Alexa og hold forbindelsen.",
        "style": {
            "label": true
        },
        "nodes": [
            "345e6889c658af63",
            "528837a0fea23627",
            "903a03ae491354e6",
            "7543b72f34e4d6df",
            "b051f8d921f9d8ff",
            "769262f3821b8129"
        ],
        "x": 214,
        "y": 784,
        "w": 647,
        "h": 157,
        "info": "Forbind til Alexa og hold forbindelsen over flere dage!\r\nhttps://github.com/michaelflarsen"
    },
    {
        "id": "345e6889c658af63",
        "type": "inject",
        "z": "88790199e22dcb8f",
        "g": "11a1e9feec7a4ad7",
        "name": "Ny forspørgelse",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 825,
        "wires": [
            [
                "528837a0fea23627"
            ]
        ]
    },
    {
        "id": "528837a0fea23627",
        "type": "alexa-remote-init",
        "z": "88790199e22dcb8f",
        "g": "11a1e9feec7a4ad7",
        "name": "",
        "account": "",
        "option": "fresh",
        "x": 535,
        "y": 825,
        "wires": [
            [
                "903a03ae491354e6"
            ]
        ]
    },
    {
        "id": "903a03ae491354e6",
        "type": "change",
        "z": "88790199e22dcb8f",
        "g": "11a1e9feec7a4ad7",
        "name": "Gem auth til flow",
        "rules": [
            {
                "t": "set",
                "p": "alexa_auth",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 745,
        "y": 825,
        "wires": [
            []
        ]
    },
    {
        "id": "7543b72f34e4d6df",
        "type": "change",
        "z": "88790199e22dcb8f",
        "g": "11a1e9feec7a4ad7",
        "name": "Set auth fra flow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "alexa_auth",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 900,
        "wires": [
            [
                "769262f3821b8129"
            ]
        ]
    },
    {
        "id": "b051f8d921f9d8ff",
        "type": "inject",
        "z": "88790199e22dcb8f",
        "g": "11a1e9feec7a4ad7",
        "name": "Start og Gentagelse",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 900,
        "wires": [
            [
                "7543b72f34e4d6df"
            ]
        ]
    },
    {
        "id": "769262f3821b8129",
        "type": "alexa-remote-init",
        "z": "88790199e22dcb8f",
        "g": "11a1e9feec7a4ad7",
        "name": "",
        "account": "",
        "option": "initialise",
        "x": 750,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "51c9fe36c81fbd4e",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Ved fejl eller røde kasser læs: https://github.com/michaelflarsen/danfosslink-in-HA",
        "info": "",
        "x": 510,
        "y": 750,
        "wires": []
    },
    {
        "id": "825fbf17961e5b3a",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum2",
        "entityConfig": "25767b31f2bd620b",
        "version": 0,
        "state": "payload.Rum2",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1375,
        "wires": [
            []
        ]
    },
    {
        "id": "bf9285f3b0f7df13",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum2",
        "entityConfig": "690db5064a9bd531",
        "version": 0,
        "state": "payload[\"Setpoint Rum2\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1375,
        "wires": [
            []
        ]
    },
    {
        "id": "c27b4aee6ad18197",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum2",
        "info": "",
        "x": 860,
        "y": 1375,
        "wires": []
    },
    {
        "id": "e6b9a917ae9da384",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum3",
        "entityConfig": "",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1425,
        "wires": [
            []
        ]
    },
    {
        "id": "3c33528f9c08f306",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum4",
        "entityConfig": "",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1475,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb37a2a42f2402d",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum5",
        "entityConfig": "",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1525,
        "wires": [
            []
        ]
    },
    {
        "id": "920bbba7247cbcae",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum6",
        "entityConfig": "",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1575,
        "wires": [
            []
        ]
    },
    {
        "id": "504ed6f3a645e48e",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum7",
        "entityConfig": "",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1625,
        "wires": [
            []
        ]
    },
    {
        "id": "c14cc559066e65fc",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Rum8",
        "entityConfig": "",
        "version": 0,
        "state": "payload.Rum1",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 350,
        "y": 1675,
        "wires": [
            []
        ]
    },
    {
        "id": "fda9f6530d60e448",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum3",
        "entityConfig": "",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1425,
        "wires": [
            []
        ]
    },
    {
        "id": "b2d2c8a1a752c6da",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum4",
        "entityConfig": "",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1475,
        "wires": [
            []
        ]
    },
    {
        "id": "d30a260670a22f38",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum5",
        "entityConfig": "",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1525,
        "wires": [
            []
        ]
    },
    {
        "id": "192252ff2ebce899",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum6",
        "entityConfig": "",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1575,
        "wires": [
            []
        ]
    },
    {
        "id": "80a3d56b81d4b941",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum7",
        "entityConfig": "",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1625,
        "wires": [
            []
        ]
    },
    {
        "id": "91d7bc7297524bcb",
        "type": "ha-sensor",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "Setpoint Rum8",
        "entityConfig": "",
        "version": 0,
        "state": "payload[\"Setpoint Rum1\"]",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 655,
        "y": 1675,
        "wires": [
            []
        ]
    },
    {
        "id": "e32f3fd3d156b88e",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum3",
        "info": "",
        "x": 860,
        "y": 1425,
        "wires": []
    },
    {
        "id": "a4cb2aeeaf894eae",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum4",
        "info": "",
        "x": 860,
        "y": 1475,
        "wires": []
    },
    {
        "id": "255ebbb4b9050b29",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum5",
        "info": "",
        "x": 860,
        "y": 1525,
        "wires": []
    },
    {
        "id": "694aeb448943f510",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum6",
        "info": "",
        "x": 860,
        "y": 1575,
        "wires": []
    },
    {
        "id": "4aaa9c7bc7ded219",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum7",
        "info": "",
        "x": 860,
        "y": 1625,
        "wires": []
    },
    {
        "id": "df36f3adb057a75b",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "flow.rum8",
        "info": "",
        "x": 860,
        "y": 1675,
        "wires": []
    },
    {
        "id": "1923097a1d4236fa",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "*Tilføj dine rum her, lav dem som Rum1 & Rum2:",
        "info": "",
        "x": 390,
        "y": 1225,
        "wires": []
    },
    {
        "id": "d73ed9168b734d28",
        "type": "comment",
        "z": "88790199e22dcb8f",
        "g": "c79dfe0d63a05f1f",
        "name": "*Tilføj dine rum her kig i debug \"find rum\"",
        "info": "",
        "x": 910,
        "y": 1150,
        "wires": []
    },
    {
        "id": "dfae87378ec14a30",
        "type": "ha-entity-config",
        "server": "6346c597.eb634c",
        "deviceConfig": "42587efcbd71c3f7",
        "name": "Rum1",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Danfoss_Stue"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "565010e4dfd19e2a",
        "type": "ha-entity-config",
        "server": "6346c597.eb634c",
        "deviceConfig": "42587efcbd71c3f7",
        "name": "Set_Rum1",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Danfoss_Rum1_Setpoint"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "25767b31f2bd620b",
        "type": "ha-entity-config",
        "server": "6346c597.eb634c",
        "deviceConfig": "42587efcbd71c3f7",
        "name": "Rum2",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Rum2"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "690db5064a9bd531",
        "type": "ha-entity-config",
        "server": "6346c597.eb634c",
        "deviceConfig": "42587efcbd71c3f7",
        "name": "Setpoint_Rum2",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Danfoss_Rum2_Setpoint"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "6346c597.eb634c",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "42587efcbd71c3f7",
        "type": "ha-device-config",
        "name": "Danfoss",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]
